html, body{
    height:100%;
}
* {
    text-align: justify;
    font: #777777;
  }
  header{
    display: block;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
  }
  .headerNav{
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    align-content: flex-end;
    margin: 0 auto;
  }
  .headerLeft{
    color: #ffffff;
    text-align: center;
    padding: 20px 15px;
    background: #4aaaa5;
    margin: 0;
  }
  .headerNavigation{
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .headerNavigation>li {
    padding: 6px;
    flex-flow: row wrap;
    margin:0;
  }
  header:after{
      content:" ";
      clear: both;
      display: block;
  }
  body{
      display: flex;
      flex-direction: column;
      margin:0;
      background-image: url("../images/background.png");
  }
  .content{
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-content: center;
      margin-top: 30px;
  }
  .inner{
      flex: 1;
      max-width: 960px;
      max-height: 400px;
      align-content: center;
      justify-content: center;
      background: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
  }
  .inner-port{
    flex: 1;
    max-width: 960px;
    max-height: 570px;
    align-content: center;
    justify-content: center;
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}
  #aboutMe{
      color:#4aaaa5;
      padding-bottom: 20px;
      border-bottom: 3px solid #e7e7e7;
  }
  .aboutMe{

  }
  .aboutMe>p{
      margin: 5px;
      padding: 5px 20px 5px 5px;

  }

  footer{
      color: #ffffff;
      background: #666666;
      text-align: center;
      font-size: 12px;
      border-top: 8px solid #4aaaa5;
      padding: 30px 0 2px 0;
  }
  .footer{
    flex-shrink: 0;
  }
  a{
      color: #777777;
      text-decoration: none;
  }
  .sep{
      color:#acacaa;
      opacity: .2;
  }
  img.wrap{
      float:left;
      padding-right: 10px;
  }
  .portfolio-images{
      display: flex;
      flex-wrap: wrap;
  }
  .proj{
    position: relative;
  }
  .proj>img{
      padding: 10px 44px 10px 0;
  }
  .label{
      position: absolute;
      background: #4aaaa5;
      color: #ffffff;
      top: 70%;
      left: 0;
      right: 44px;
      bottom: 10%;
  }
  .label>h3{
      text-align: center;
  }
  .inner>textarea{
    height: 150px;
    min-width: 932px;
  }